body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

.header {
  font-size: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
}

#addButton {
  background-color: lightgreen;
  border: none;
  margin-left: 20px;
  padding: 5px;
}

#mainContent {
  display: flex;
  align-content: center;
}

ul {
  list-style: none;
}

.voteCell {
  text-align: center;
  padding-right: 15px;
  display: block;
  min-width: 30px;
  max-width: 30px;
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 2px;
  float: left;
  height: 30px;
  width: 30px;
}

.author {
  font-weight: bold;
}

.categoryList {
  min-width: 200px;
  font-size: 30px;
}

.entityList {
  flex-grow: 1;
  margin: 0;
  min-width: 90%;
}

.categoryList, li {
  margin: 20px;
}

.entityItem {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 150px;
}

.details {
  display: block;
  flex-grow: 1;
  min-width: 300px;
  width: 90%;
}

.votes {
  display: block;
  font-weight: bold;
}

.commentBlock {
  display: flex;
  min-width: 100px;
  margin-right: 150px;
}

form {
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  align-items: center;
  min-width: 300px;
  max-width: 700px;
}

label {
  float: left;
  padding: 12px;
}

.formInput {
  width: 100%
}

input, textarea {
  font-size: 1em;
  min-width: 100%;
  padding: 12px;
  margin: 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitButton {
  width: 100%;
  background-color: lightgreen;
  padding: 14px;
  margin: 8px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  text-transform: uppercase;
}

.cancelButton {
  text-align: center;
  width: 100%;
  padding: 10px;
  color: red;
  text-transform: uppercase;
}

#commentButton {
  display: block;
  clear: both;
  margin: 10px;
}

